[submodule "linphone-sdk"]
path = linphone-sdk
	url = https://gitlab.linphone.org/BC/public/linphone-sdk.git
[submodule "plugins/contacts/contacts-api"]
	path = plugins/contacts/contacts-api
	url =  https://gitlab.linphone.org/BC/public/linphone-desktop-plugins/contacts/contacts-api.git
[submodule "external/qtkeychain"]
	path = external/qtkeychain
	url = https://gitlab.linphone.org/BC/public/external/qtkeychain.git
[submodule "external/ispell"]
	path = external/ispell
	url = https://gitlab.linphone.org/BC/public/external/ispell.git
