# Temporary files --------------------------------------------------------------

*~
.*
\#*\#
.#.*

# Project configuration --------------------------------------------------------

*.pro.user
Project.sln.lnk
WORK
OUTPUT
Makefile
CMakeLists.txt.user
build-*-Debug
build-*-Default
prepare.conf.user

# Tags -------------------------------------------------------------------------

GPATH
GRTAGS
GTAGS

.ctags
.clang_complete

# QMLC/JSC ---------------------------------------------------------------------

*.qmlc
*.jsc

# RPM --------------------------------------------------------------------------

qt-*.tar.gz
qt5/
rpm-qt-*/

# OTHER ------------------------------------------------------------------------

vgcore.*
linphone.spec
