[submodule "submodules/externals/minizip"]
	path = submodules/externals/minizip
	url = ../../public/external/minizip.git
[submodule "linphone-sdk"]
	path = linphone-sdk
	url = ../../public/linphone-sdk.git
