
.job-macosx-desktop:

  stage: build

  tags: [ "macosx" ]

  script:
    - ccache -s
    - export Qt5_DIR=/usr/local/opt/qt/lib/cmake
    - export PATH=$PATH:/usr/local/opt/qt/bin
    - if [ -d "build-desktop" ]; then rm -rf build-desktop; fi;
    - mkdir -p build-desktop/OUTPUT
    - cd build-desktop
#SDK and Minizip submodule Building
    - echo $CMAKE_GENERATOR
    - echo $DEFAULT_MACOS_CMAKE_OPTIONS
    - echo $CMAKE_OPTIONS
    - echo $ADDITIONAL_BUILD_OPTIONS
    - cmake .. -G "$CMAKE_GENERATOR" -DLINPHONESDK_PLATFORM=Desktop $DEFAULT_MACOS_CMAKE_OPTIONS $XCODE_OPTIONS $CMAKE_OPTIONS
    - cmake --build . --target all $LBC_NODEBUG_OPTIONS
# Minizip install to OUTPUT folder
    - cmake --build . --target install
    
# Update CMake installation  
    - cmake .. -G "$CMAKE_GENERATOR" -DCMAKE_OSX_DEPLOYMENT_TARGET=10.9 $DEFAULT_MACOS_CMAKE_OPTIONS $XCODE_OPTIONS $CMAKE_OPTIONS
    - cmake --build . --target linphone-qt -- $ADDITIONAL_BUILD_OPTIONS
#    - codesign --verbose -s "$MACOS_SIGNING_IDENTITY" WORK/desktop/Build/linphone_package/Linphone-*.dmg
    - cmake --build . --target install -- $ADDITIONAL_BUILD_OPTIONS
    - ccache -s

  artifacts:
    paths:
      - build-desktop/OUTPUT
    expire_in: 1 week



#################################################
# Makefile
#################################################


job-macosx-makefile:

  only:
    variables:
      - $NIGHTLY_MASTER
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .job-macosx-desktop


#################################################
# Ninja
#################################################


job-macosx-ninja:

  variables:
    CMAKE_GENERATOR: Ninja
    CMAKE_OPTIONS: -DENABLE_UNIT_TESTS=ON
  extends: .job-macosx-desktop


job-macosx-ninja-novideo:

  only:
    variables:
      - $NIGHTLY_MASTER
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: job-macosx-ninja


#################################################
# XCode
#################################################


job-macosx-xcode:
  extends: .job-macosx-desktop
  variables:
    XCODE_OPTIONS: -DLINPHONESDK_MACOS_BASE_URL=$MACOS_SNAPSHOTS_URL
    CMAKE_GENERATOR: Xcode
    ADDITIONAL_BUILD_OPTIONS: -IDEBuildOperationMaxNumberOfConcurrentCompileTasks=$MAX_NUMBER_TASK

  only:
    variables:
      - $NIGHTLY_MASTER
      - $DEPLOY_RUN_MACOSX

