#################################################
# Visual Studio 2015
#################################################

job-windows-vs2015:

  stage: build

  variables:
    CI_DEBUG_TRACE: "true"

  tags: [ "windows" ]

  script:
    - echo %Qt5_DIR%
    - echo %PATH%
    - if DEFINED WINDOWS_SIGNING_DIRECTORY ( xcopy /I /Y "%WINDOWS_SIGNING_DIRECTORY%" "cmake_builder\\linphone_package\\sign" )
    - python prepare.py -G "Visual Studio 14 2015" --package %DEFAULT_WINDOWS_CMAKE_OPTIONS% %CMAKE_OPTIONS%
    - cmake --build WORK/desktop/cmake --config Release -- /maxcpucount

  artifacts:
    paths:
      - WORK/desktop/Build/linphone_package/$PACKAGE_NAME-*-win32.exe
    expire_in: 1 week

#################################################
# Deploy
#################################################

job-windows-deploy:

  variables:
    CI_DEBUG_TRACE: "true"

  stage: deploy
  tags: [ "deploy" ]

  dependencies:
    - job-windows-vs2015

  script:
    - scp WORK/desktop/Build/linphone_package/$PACKAGE_NAME-*-win32.exe $DEPLOY_SERVER:$WINDOWS_UPLOAD_DIRECTORY/
    - ssh $DEPLOY_SERVER jenkins_link_latest $WINDOWS_UPLOAD_DIRECTORY '$PACKAGE_NAME-*-win32.exe'