#job-centos7-makefile-gcc:

#  tags: [ "docker" ]
#  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos:7
#  only:
#    variables:
#      - $NIGHTLY_MASTER
#  variables:
#    CMAKE_GENERATOR: Unix Makefiles
#    CC: gcc
#    CXX: g++
#  extends: .job-linux-desktop


#job-centos7-makefile-clang:

#  tags: [ "docker-centos7" ]
#  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos:7
#  only:
#    variables:
#      - $NIGHTLY_MASTER
#  variables:
#    CMAKE_GENERATOR: Unix Makefiles
#    CC: clang
#    CXX: clang++
#  extends: .job-linux-desktop


#################################################
# Ninja
#################################################


job-centos7-ninja-gcc:
  tags: [ "docker" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos:7
  except:
    refs:
      - schedules
  variables:
    CMAKE_GENERATOR: Ninja
    CC: gcc
    CXX: g++
  extends: .job-linux-desktop


#job-centos7-ninja-clang:

#  tags: [ "docker-centos7" ]
#  only:
#    variables:
#      - $NIGHTLY_MASTER
#  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos:7
#  variables:
#    CMAKE_GENERATOR: Ninja
#    CC: clang
#    CXX: clang++
#    CMAKE_OPTIONS: -DENABLE_LIME=ON
#  extends: .job-linux-desktop

