.factorize_ubuntu2204: &docker_image_platform_and_runner_tag
  tags: [ "docker-flat" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-desktop/bc-dev-ubuntu-22-04-lts:$UBUNTU_2204_IMAGE_VERSION

ubuntu2204-ninja-gcc:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $DOCKER_UPDATE == null  && $SKIP_LINUX == null
  variables:
    CMAKE_GENERATOR: Ninja
    CMAKE_OPTIONS: -DENABLE_PQCRYPTO=ON
    CC: gcc
    CXX: g++
  extends: .linux-desktop
  <<: *docker_image_platform_and_runner_tag


#################################################
#               Nightly
#################################################

ubuntu2204-makefile-gcc:
  rules:
    - !reference [.rules-merge-request-manual, rules]
    - if: $NIGHTLY_MASTER
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CMAKE_OPTIONS: -DENABLE_PQCRYPTO=ON
    CC: gcc
    CXX: g++
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .linux-desktop
  <<: *docker_image_platform_and_runner_tag

ubuntu2204-ninja-clang:
  rules:
    - !reference [.rules-merge-request-manual, rules]
    - if: $NIGHTLY_MASTER
  variables:
    CMAKE_OPTIONS: -DENABLE_DOC=ON -DENABLE_G729=ON -DENABLE_PQCRYPTO=ON -DENABLE_GPL_THIRD_PARTIES=OFF
    CMAKE_GENERATOR: Ninja
    CC: clang
    CXX: clang++
  extends: .linux-desktop
  allow_failure: true
  <<: *docker_image_platform_and_runner_tag

ubuntu2204-ninja-clang-small:
  rules:
    - !reference [.rules-merge-request-manual, rules]
    - if: $NIGHTLY_MASTER
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO -DENABLE_ADVANCED_IM=NO -DENABLE_DB_STORAGE=NO -DENABLE_PQCRYPTO=OFF
  allow_failure: true
  extends: ubuntu2204-ninja-clang

ubuntu2204-makefile-gcc-signed:
  rules:
    - !reference [.rules-merge-request-manual, rules]
    - if: $NIGHTLY_MASTER
    - if: $DEPLOY_PLUGINS
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CC: gcc
    CXX: g++
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .linux-sign-build
  <<: *docker_image_platform_and_runner_tag

#################################################
# Package - Nightly
#################################################

ubuntu2204-makefile-gcc-package:
  tags: [ "docker-flat" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-desktop/bc-dev-ubuntu-22-04-lts:$UBUNTU_2204_IMAGE_VERSION
  needs: []
  rules:
    - !reference [.rules-merge-request-manual, rules]
    - if: $NIGHTLY_MASTER
    - if: $PACKAGE_LINUX
    - if: $DEPLOY_LINUX
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CC: gcc
    CXX: g++
    CMAKE_OPTIONS: -DENABLE_BUGSPLAT_SYMBOLS_UPLOAD=ON -DBUGSPLAT_CLIENT_ID=$BUGSPLAT_CLIENT_ID -DBUGSPLAT_CLIENT_SECRET=$BUGSPLAT_CLIENT_SECRET -DBUGSPLAT_DATABASE=$BUGSPLAT_DATABASE
  extends: .linux-sign-package

#################################################
# Deploy - Nightly
#################################################

ubuntu2204-makefile-gcc-deploy:
  extends: .linux-deploy
  needs:
    - ubuntu2204-makefile-gcc-package
  only:
    variables:
      - $NIGHTLY_MASTER
      - $DEPLOY_LINUX

ubuntu2204-makefile-gcc-plugins-deploy:
  stage: deploy
  tags: [ "deploy-flat" ]
  needs:
    - ubuntu2204-makefile-gcc
  only:
    variables:
      - $DEPLOY_PLUGINS
  script:
    - rsync -rlv --ignore-existing build/OUTPUT/plugins/app/*.so $DEPLOY_SERVER:$UPLOAD_ROOT_PATH/$LINUX_PLATFORM/$APP_FOLDER/plugins/

