# Temporary files --------------------------------------------------------------

*~
.*
\#*\#

# Project configuration --------------------------------------------------------

*.pro.user
build*

# Tags -------------------------------------------------------------------------

GPATH
GRTAGS
GTAGS

.ctags

# QMLC/JSC ---------------------------------------------------------------------

*.qmlc
*.jsc
